h3
{
    color: red;
}
#ps
{
    color: blueviolet;
}
a
{
    text-decoration: none;
    cursor:e-resize;
}
.cls
{
    color: blue;
}
.box
{
    color: brown;
    margin: 100px;
    border: 100px;
    padding: 100px;
}