.link
{
    text-decoration:none;
}
.divcls
{
    width: 50%;
    background-color:aqua;
    float: left;

}
.cclass
{
    width: 50%;
    background-color:brown;
    float: right;
}
   
.div1
{
    

    
}